<%-include('header')%>
    <div class="headline-div">
        <h1>
            <%=listTitle%>
        </h1>
    </div>
    <div class="row">
        <div class="itemsBlock">
            <%ListOfTasks.forEach(function(tasks){%>
                <div class="">

                    <form action="/delete" method="post">
                        <input type="hidden" name="title" value=<%=listTitle%>>
                        <input type="checkbox" name="checkbox" value="<%=tasks.name%>" onchange="this.form.submit()">
                        <label class="strikeThrough"><%=tasks.name%></label>
                    </form>

                </div>
                <% })%>

                    <form action="/" method="POST">
                        <input type="text" name="task" placeholder="New" autocomplete="off">
                        <button type="submit" name="list" value=<%=listTitle%>> +</button>
                    </form>
        </div>

    </div>


    <%-include("footer")%>